<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.manuelvictoria.recoding"
    versionCode = "1"
    version     = "0.0.1" >
    <name>Recoding</name>
    <description>
        App to recode
    </description>
    <author href="https://manuvicmi.tk" email="info@manuelvictoria.com">
        Manuel Victoria
    </author>
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*"/>

    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-vibration" />
    <plugin name="cordova-plugin-x-socialsharing" spec="5.4.0" />

    <icon src="icon.png"/>
    <splash src="image.jpeg">
</widget>